* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100vw;
  min-height: 100vh;
  background: #f4f4f4;
  overflow-x: hidden;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.tile {
  padding: 40px 50px;
  background-color: white;
  position: relative;
  margin: 10px;
}
.btn-container {
  position: absolute;
  top: 5px;
  right: 20px;
}
.btn {
  background: none;
  border: none;
  padding: 5px;
}
.btn:hover {
  cursor: pointer;
}
.delete-btn {
  color: red;
}
.name {
  text-transform: uppercase;
}
/* .form {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 25%;
} */
.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  flex-direction: column;
  background: white;
  height: 90%;
  width: 80%;
  z-index: 10;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  padding: 30px;
}
.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.close-form {
  background: none;
  border: none;
}
.border {
  height: 1px;
  width: 100%;
  background: #333;
  margin-bottom: 20px;
}
.form-input {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}
.form-input h4 {
  font-size: 20px;
}
.form-input input {
  height: 30px;
}
form {
  margin-bottom: 20px;
}
.form-btns {
  position: absolute;
  right: 30px;
  bottom: 10px;
}
.form-btn,
.main-btn {
  padding: 10px 15px;
  margin: 10px;
  background: none;
  border: 1px solid;
}
.main-btn {
  position: relative;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.add {
  background: green;
  color: white;
}
@media screen and (max-width: 1200px) {
  .display {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 800px) {
  .display {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .display {
    grid-template-columns: repeat(1, 1fr);
  }
}
